.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 628px;
  background-image: url('/img/home/desktop-width=400-1-min.png');
  @include media(to-desktop) {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 320px;
    max-width: 100%;
    height: 641px !important;
    min-height: auto;
    position: relative;
    overflow: hidden;
    background: url('/img/home/home-width=400-1-min.png');
    background-repeat: no-repeat;
  }
}

.home-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36px;
  width: 584px;
  height: 405px;
  margin-top: 116px;
  @include media(to-desktop) {
    align-items: flex-start;
    gap: 20px;
    width: 280px;
    height: 231px;
    margin-top: 120px;
  }
}

.home-title-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 584px;
  height: 249px;
  @include media(to-desktop) {
    align-items: flex-start;
    gap: 12px;
    width: 280px;
    height: 140px;
  }
}

.home-title {
  font-weight: 700;
  font-size: 90px;
  color: #efeeea;
  line-height: 1.2;
  white-space: nowrap;
  @include media(to-desktop) {
    font-weight: 600;
    font-size: 42px;
  }
}

.home-slogan {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #efeeea;
  width: 516px;
  height: 112px;
  @include media(to-desktop) {
    font-size: 16px;
    line-height: 1.18;
    text-align: start;
    width: 280px;
    height: 76px;
  }
}

.home-cta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 315px;
  height: 120px;
  @include media(to-desktop) {
    align-items: flex-start;
    gap: 12px;
    width: 280px;
    height: 71px;
  }
}

.home-cta-text {
  font-weight: 500;
  font-size: 24px;
  color: #efeeea;
  @include media(to-desktop) {
    font-size: 16px;
    line-height: 1.18;
  }
}

.home-cta-link {
  width: 246px;
  height: 72px;
  border-radius: 12px;
  @include media(to-desktop) {
    width: 132px;
    height: 40px;
  }
}

.home-cta-link:hover {
  box-shadow: 0 2px 20px 0 #181a4d;
  transform: scale(1.05);
  border: none;
  background: none;
}

.home-cta-link a {
  border: none;
  background: none;
}
