/* Основний стиль секції */
.uniqueness-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 72px;

  @include media(to-desktop) {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 280px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.uniqueness-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  @include media(to-desktop) {
    flex-direction: column;
    text-align: justify;
    gap: 20px;
  }
}

.uniqueness-content {
  max-width: 600px;
  flex: 1;
  @include media(to-desktop) {
    max-width: 100%;
    padding: 0;
  }
}

.uniqueness-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;
  color: #181a4d;
  margin-bottom: 20px;
  margin-bottom: 40px;
  @include media(to-desktop) {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 28px;
  }
}

.uniqueness-text {
  font-size: 24px;
  color: #181a4d;
  line-height: 28px;
  margin-bottom: 32px;
  text-align: justify;
  letter-spacing: -0.5px;
  @include media(to-desktop) {
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0px;
    margin-bottom: 0px;
  }
}

.uniqueness-characters {
  margin-top: 0;
  padding-top: 0;
  align-items: flex-start;
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(to-desktop) {
    max-width: 100%;
    width: 280px !important;
    height: 272px !important;
  }
}

.characters-bg {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 516px;
  height: 438px;
  @include media(to-desktop) {
    max-width: 100%;
    width: 280px !important;
    height: 272px !important;
    border-radius: 12px;
    margin-bottom: 20px;
    gap: 0px;
  }
}

.mobile-only {
  display: none;
  @include media(to-desktop) {
    display: flex;
  }
}

.desktop-only {
  @include media(to-desktop) {
    display: none;
  }
}
