.review-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 72px;
  @include media(to-desktop) {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 280px;
    max-width: 100%;
    padding-left: 0;
  padding-right: 0;
  }
}

.review-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;
  color: #181a4d;
  @include media(to-desktop) {
    font-weight: 500;
    font-size: 32px;
  }
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.review-navigation {
  display: flex;
  gap: 10px;
}



/* Стилізація слайдера */
.swiper-review-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;


}

.swiper-wrapper-reviews {
  display: flex;
  transition: transform 0.3s ease-in-out;

  @include media(to-desktop) {
    width: 100%;

}
}

.review-item {
  width: 518px !important;
  height: 252px !important;
  max-width: 518px;
  max-height: 252px;
  background: linear-gradient(180deg, #5D17EB 10%, #181A4D 100%);
  color: white;
  padding: 8px;
  border-radius: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  @include media(to-desktop) {
    width: 280px !important;
    height: 240px !important;
    max-width: 280px;
    max-height: 240px;
}
}

.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.review-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: clip;
  flex-grow: 1;
  margin-bottom: 20px;
  padding-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  @include media(to-desktop) {
    font-size: 16px;
line-height: 1.2;
display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;


}
}

.review-info {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 16px;
  left: 24px;
}

.review-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.review-role {
  font-size: 14px;
  color: #cfcfcf;
  margin: 0;
}



