<section id="benefits">
  <div class="benefits-desktop">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-block">
      <li class="benefits-item">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-1-1.png 1x,
              /img/benefits/crystals-1-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-1-1.png"
            alt="crystals 1"
            loading="lazy"
            width="127"
            height="133"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Epic Storyline</h3>
          <p class="benefits-item-text">
            Journey through a rich narrative filled with quests, secrets, and
            mythical creatures in a beautifully designed fantasy world.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-2-1.png 1x,
              /img/benefits/crystals-2-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-2-1.png"
            alt="crystals 2"
            loading="lazy"
            width="170"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Challenging Battles</h3>
          <p class="benefits-item-text">
            Fight legendary monsters and powerful bosses in strategic turn-based
            combat.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-3-1.png 1x,
              /img/benefits/crystals-3-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-3-1.png"
            alt="crystals 3"
            loading="lazy"
            width="170"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Immersive Fantasy World</h3>
          <p class="benefits-item-text">
            Explore enchanted forests, dark dungeons, towering castles, and
            hidden lands.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-4-1.png 1x,
              /img/benefits/crystals-4-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-4-1.png"
            alt="crystals 4"
            loading="lazy"
            width="175"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Character Customization</h3>
          <p class="benefits-item-text">
            Build your hero with unique powers, spells, and skills. Craft your
            own destiny.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-5-1.png 1x,
              /img/benefits/crystals-5-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-5-1.png"
            alt="crystals 5"
            loading="lazy"
            width="177"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Frequent Updates</h3>
          <p class="benefits-item-text">
            New quests, events, and battles are added regularly, keeping the
            adventure alive.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-6-1.png 1x,
              /img/benefits/crystals-6-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-6-1.png"
            alt="crystals 6"
            loading="lazy"
            width="116"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Immersive Fantasy World</h3>
          <p class="benefits-item-text">
            Explore enchanted forests, dark dungeons, towering castles, and
            hidden lands.
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="benefits-mob swiper">
    <div class="benefits-mob-row">
      <h2 class="benefits-mob-title">Benefits</h2>
      <div class="benefits-mob-btns">
        <button class="benefits-mob-btn-prev benefits-mob-btn">
          <img
            src="./img/icons/free-icon-font-arrow-left.png"
            alt="left"
            width="24"
            height="24"
          />
        </button>
        <button class="benefits-mob-btn-next benefits-mob-btn">
          <img
            src="./img/icons/free-icon-font-arrow-right.png"
            alt="right"
            width="24"
            height="24"
          />
        </button>
      </div>
    </div>

    <div class="benefits-mob-projects swiper-wrapper">
      <div class="benefits-mob-item swiper-slide">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-mob-1-1.png 1x,
              /img/benefits/crystals-mob-1-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-mob-1-1.png"
            alt="crystals 1"
            loading="lazy"
            width="102"
            height="108"
          />
        </picture>
        <div class="benefits-mob-item-text-block">
          <h3 class="benefits-mob-item-title">Epic Storyline</h3>
          <p class="benefits-mob-item-text">
            Journey through a rich narrative filled with quests, secrets, and
            mythical creatures in a beautifully designed fantasy world.
          </p>
        </div>
      </div>

      <div class="benefits-mob-item swiper-slide">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-mob-2-1.png 1x,
              /img/benefits/crystals-mob-2-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-mob-2-1.png"
            alt="crystals 2"
            loading="lazy"
            width="144"
            height="144"
          />
        </picture>
        <div class="benefits-mob-item-text-block">
          <h3 class="benefits-mob-item-title">Challenging Battles</h3>
          <p class="benefits-mob-item-text">
            Fight legendary monsters and powerful bosses in strategic turn-based
            combat.
          </p>
        </div>
      </div>

      <div class="benefits-mob-item swiper-slide">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-mob-3-1.png 1x,
              /img/benefits/crystals-mob-3-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-mob-3-1.png"
            alt="crystals 3"
            loading="lazy"
            width="137"
            height="144"
          />
        </picture>
        <div class="benefits-mob-item-text-block">
          <h3 class="benefits-mob-item-title">Immersive Fantasy World</h3>
          <p class="benefits-mob-item-text">
            Explore enchanted forests, dark dungeons, towering castles, and
            hidden lands.
          </p>
        </div>
      </div>

      <div class="benefits-mob-item swiper-slide">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-mob-4-1.png 1x,
              /img/benefits/crystals-mob-4-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-mob-4-1.png"
            alt="crystals 4"
            loading="lazy"
            width="141"
            height="144"
          />
        </picture>
        <div class="benefits-mob-item-text-block">
          <h3 class="benefits-mob-item-title">Character Customization</h3>
          <p class="benefits-mob-item-text">
            Build your hero with unique powers, spells, and skills. Craft your
            own destiny.
          </p>
        </div>
      </div>

      <div class="benefits-mob-item swiper-slide">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-mob-5-1.png 1x,
              /img/benefits/crystals-mob-5-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-mob-5-1.png"
            alt="crystals 5"
            loading="lazy"
            width="142"
            height="144"
          />
        </picture>
        <div class="benefits-mob-item-text-block">
          <h3 class="benefits-mob-item-title">Frequent Updates</h3>
          <p class="benefits-mob-item-text">
            New quests, events, and battles are added regularly, keeping the
            adventure alive.
          </p>
        </div>
      </div>

      <div class="benefits-mob-item swiper-slide">
        <picture>
          <source
            srcset="
              /img/benefits/crystals-mob-6-1.png 1x,
              /img/benefits/crystals-mob-6-2.png 2x
            "
          />
          <img
            src="/img/benefits/crystals-obm-6-1.png"
            alt="crystals 6"
            loading="lazy"
            width="93"
            height="144"
          />
        </picture>
        <div class="benefits-mob-item-text-block">
          <h3 class="benefits-mob-item-title">Immersive Fantasy World</h3>
          <p class="benefits-mob-item-text">
            Explore enchanted forests, dark dungeons, towering castles, and
            hidden lands.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
