<section id="benefits">
  <div class="benefits-desktop">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-block">
      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ../img/benefits/crystals-1-1.png 1x,
              ../img/benefits/crystals-1-2.png 2x
            "
          />
          <img
            src="../img/benefits/crystals-1-1.png"
            alt="crystals 1"
            loading="lazy"
            width="127"
            height="133"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Epic Storyline</h3>
          <p class="benefits-item-text">
            Journey through a rich narrative filled with quests, secrets, and
            mythical creatures in a beautifully designed fantasy world.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ../img/benefits/crystals-2-1.png 1x,
              ../img/benefits/crystals-2-2.png 2x
            "
          />
          <img
            src="../img/benefits/crystals-2-1.png"
            alt="crystals 2"
            loading="lazy"
            width="170"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Challenging Battles</h3>
          <p class="benefits-item-text">
            Fight legendary monsters and powerful bosses in strategic turn-based
            combat.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ../img/benefits/crystals-3-1.png 1x,
              ../img/benefits/crystals-3-2.png 2x
            "
          />
          <img
            src="../img/benefits/crystals-3-1.png"
            alt="crystals 3"
            loading="lazy"
            width="170"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Immersive Fantasy World</h3>
          <p class="benefits-item-text">
            Explore enchanted forests, dark dungeons, towering castles, and
            hidden lands.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ../img/benefits/crystals-4-1.png 1x,
              ../img/benefits/crystals-4-2.png 2x
            "
          />
          <img
            src="../img/benefits/crystals-4-1.png"
            alt="crystals 4"
            loading="lazy"
            width="175"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Character Customization</h3>
          <p class="benefits-item-text">
            Build your hero with unique powers, spells, and skills. Craft your
            own destiny.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ../img/benefits/crystals-5-1.png 1x,
              ../img/benefits/crystals-5-2.png 2x
            "
          />
          <img
            src="../img/benefits/crystals-5-1.png"
            alt="crystals 5"
            loading="lazy"
            width="177"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Frequent Updates</h3>
          <p class="benefits-item-text">
            New quests, events, and battles are added regularly, keeping the
            adventure alive.
          </p>
        </div>
      </li>

      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ../img/benefits/crystals-6-1.png 1x,
              ../img/benefits/crystals-6-2.png 2x
            "
          />
          <img
            src="../img/benefits/crystals-6-1.png"
            alt="crystals 6"
            loading="lazy"
            width="116"
            height="179"
          />
        </picture>
        <div class="benefits-item-text-block">
          <h3 class="benefits-item-title">Immersive Fantasy World</h3>
          <p class="benefits-item-text">
            Explore enchanted forests, dark dungeons, towering castles, and
            hidden lands.
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="benefits-mob">
    <div class="benefits-mob-row">
      <h2 class="benefits-mob-title">Benefits</h2>
      <div class="benefits-mob-btns">
        
      </div>
    </div>
  </div>
</section>
