<section id="welcomeCookie" class="cookie">
  <div class="cookie-container">
    <div class="cookie-content">
      <h2 class="cookie-title">Our cookie policy</h2>
      <p class="cookie-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-btns">
      <button class="cookie-close-btn-accept" id="closeCookieOne">ACCEPT COOKIES</button>
      <button class="cookie-close-btn-decline" id="closeCookieTwo">DECLINE COOKIES</button>
    </div>
  </div>
</section>
