<section class="faq" id="faq">
  <div class="container">
    <h2 class="section-title faq-title">FAQ</h2>
    <div class="faq-accordion-container faq-list">
      <div class="ac faq-list-item">
        <h3 class="ac-header faq-list-title">
          <button
            type="button"
            class="ac-trigger faq-btn"
            aria-expanded="false"
            aria-controls="faq1"
          >
            <span class="faq-num">1</span>
            <span class="button-text nwrap">What is Epic Fantasy?</span>
            <span class="arrow-container">
              <img
                src="./img/icons/eye-close.png"
                width="32"
                height="32"
                alt=""
                class="arrow-icon"
                aria-hidden="true"
              />
            </span>
          </button>
        </h3>
        <div
          class="ac-panel"
          id="faq1"
          role="region"
          aria-labelledby="faq1-button"
        >
          <p class="ac-text faq-text">
            Epic Fantasy is a turn-based RPG set in a magical world full of
            quests, challenges, and mysterious characters.
          </p>
        </div>
      </div>

      <div class="ac faq-list-item">
        <h3 class="ac-header faq-list-title">
          <button
            type="button"
            class="ac-trigger faq-btn"
            aria-expanded="false"
            aria-controls="faq2"
          >
            <span class="faq-num">2</span>
            <span class="button-text nwrap">Is the game free to play?</span>
            <span class="arrow-container">
              <img
                src="./img/icons/eye-close.png"
                width="32"
                height="32"
                alt=""
                class="arrow-icon"
                aria-hidden="true"
              />
            </span>
          </button>
        </h3>
        <div
          class="ac-panel"
          id="faq2"
          role="region"
          aria-labelledby="faq2-button"
        >
          <p class="ac-text faq-text">
            Yes, Epic Fantasy is free to download and play. However, it features
            in-app purchases to enhance gameplay.
          </p>
        </div>
      </div>

      <div class="ac faq-list-item">
        <h3 class="ac-header faq-list-title">
          <button
            type="button"
            class="ac-trigger faq-btn"
            aria-expanded="false"
            aria-controls="faq3"
          >
            <span class="faq-num">3</span>
            <span class="button-text nwrap"
              >How can I level up my character?</span
            >
            <span class="arrow-container">
              <img
                src="./img/icons/eye-close.png"
                width="32"
                height="32"
                alt=""
                class="arrow-icon"
                aria-hidden="true"
              />
            </span>
          </button>
        </h3>
        <div
          class="ac-panel"
          id="faq3"
          role="region"
          aria-labelledby="faq3-button"
        >
          <p class="ac-text faq-text">
            You can level up by completing quests, defeating enemies, and
            collecting resources.
          </p>
        </div>
      </div>

      <div class="ac faq-list-item">
        <h3 class="ac-header faq-list-title">
          <button
            type="button"
            class="ac-trigger faq-btn"
            aria-expanded="false"
            aria-controls="faq4"
          >
            <span class="faq-num">4</span>
            <span class="button-text nwrap">Can I play the game offline?</span>
            <span class="arrow-container">
              <img
                src="./img/icons/eye-close.png"
                width="32"
                height="32"
                alt=""
                class="arrow-icon"
                aria-hidden="true"
              />
            </span>
          </button>
        </h3>
        <div
          class="ac-panel"
          id="faq4"
          role="region"
          aria-labelledby="faq4-button"
        >
          <p class="ac-text faq-text">
            Yes, you can enjoy many aspects of the game offline, but some
            features may require an internet connection.
          </p>
        </div>
      </div>

      <div class="ac faq-list-item">
        <h3 class="ac-header faq-list-title">
          <button
            type="button"
            class="ac-trigger faq-btn"
            aria-expanded="false"
            aria-controls="faq5"
          >
            <span class="faq-num">5</span>
            <span class="button-text nwrap"
              >How do I unlock new areas or dungeons?</span
            >
            <span class="arrow-container">
              <img
                src="./img/icons/eye-close.png"
                width="32"
                height="32"
                alt=""
                class="arrow-icon"
                aria-hidden="true"
              />
            </span>
          </button>
        </h3>
        <div
          class="ac-panel"
          id="faq5"
          role="region"
          aria-labelledby="faq5-button"
        >
          <p class="ac-text faq-text">
            New areas and dungeons unlock as you progress through the story.
          </p>
        </div>
      </div>

      <div class="ac faq-list-item">
        <h3 class="ac-header faq-list-title">
          <button
            type="button"
            class="ac-trigger faq-btn"
            aria-expanded="false"
            aria-controls="faq6"
          >
            <span class="faq-num">6</span>
            <span class="button-text nwrap"
              >What are in-app purchases for?</span
            >
            <span class="arrow-container">
              <img
                src="./img/icons/eye-close.png"
                width="32"
                height="32"
                alt=""
                class="arrow-icon"
                aria-hidden="true"
              />
            </span>
          </button>
        </h3>
        <div
          class="ac-panel"
          id="faq6"
          role="region"
          aria-labelledby="faq6-button"
        >
          <p class="ac-text faq-text">
            In-app purchases allow players to buy special items, powerful
            upgrades, and cosmetics to enhance gameplay.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
