<section class="section-footer" id="footer">
  <div class="footer-wrap">
    <div>
      <div class="footer-logo">
        <source srcset="./img/fav-1-1-min.png 1x, ./img/fav-1-2-min.png 2x" />
        <img src="./img/fav-1-1-min.png" alt="Photo of Jefferson" loading="lazy" width="60" height="60" />
        </picture>
        <a class="footer-spark" href="./index.html">Epic Fantasy</a>
      </div>
      <div class="fotter-google">
        <a class="home-cta-link" target="_blank"
          href="https://play.google.com/store/apps/details?id=net.cravemob.epicfantasy&hl=en&gl=us">
          <picture>
            <source srcset="
                ./img/home/google-play-1-min.png 1x,
                ./img/home/google-play-2-min.png  2x
              " />
            <img src="./img/home/google-play-1-min.png" alt="Photo of Jefferson" loading="lazy" width="246"
              height="73" />
          </picture>
        </a>
      </div>
    </div>

    <ul class="footer-links">
      <li>
        <a href="">Privacy Policy</a>
      </li>
      <li>
        <a href="">Terms and Conditions</span></a>
      </li>
      <li><a href="">Cookies Policy</a></li>
    </ul>

    <p class="footer-right">
      All Rights Reserved sparktrailway.com | 2025
    </p>
  </div>
</section>