<section class="section gallery" id="gallery">
  <div class="container">
    <div class="gallery-button">
      <h2 class="section-title">Gallery</h2>
      <div class="position-container">
        <button class="swiper-button-prev button">
          <svg class="swiper-button-svg flip-arrow" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-narrow-right-new "></use>
          </svg>

          <svg class="swiper-button-svg hiddenPrev flip-arrow" width="24" height="24">
            <use href="./img/icons.svg#arrow-narrow-right "></use>
          </svg>
        </button>

        <button class="swiper-button-next button">
          <svg class="swiper-button-svg" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-narrow-right-new"></use>
          </svg>
          <svg class="swiper-button-svg hiddenNext" width="24" height="24">
            <use href="./img/icons.svg#arrow-narrow-right "></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- remove swiper from beelow -->
    <div class="swiper-projects project-swiper-container">
      <!-- add swiper-container and temporary remove scroll-->
      <ul class="projects-list swiper-wrapper">
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">

            <div class="item-flex-container-bottom">
              <picture>
                <source media="(min-width: 768px)" srcset=" 
                   ./img/gallery-img/image-tab-screen1.jpg 1x,
                   ./img/gallery-img/image-tab-screen1-2@.jpg 2x
                  " />

                <source media="(min-width: 320px)" srcset="
                    ./img/gallery-img/image-mob-screen1.jpg 1x,
                    ./img/gallery-img/image-mob-screen1-2@.jpg 2x
                  " />

                <img class="item-img" src="./img/gallery-img/image-mob-screen1.jpg" alt="screen1" loading="lazy" />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">

            <div class="item-flex-container-bottom">
              <picture>
                <source media="(min-width: 768px)" srcset="
                ./img/gallery-img/image-tab-screen2.jpg 1x,
                ./img/gallery-img/image-tab-screen2-2@.jpg 2x
                  " />

                <source media="(min-width: 320px)" srcset="
                ./img/gallery-img/image-mob-screen2.jpg 1x,
                ./img/gallery-img/image-mob-screen2-2@.jpg 2x
                  " />
                <img class="item-img" src="./img/gallery-img/image-mob-screen2.jpg" alt="screen2" loading="lazy" />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">
            <div class="item-flex-container-bottom">
              <picture>
                <source media="(min-width: 768px)" srcset="
                ./img/gallery-img/image-tab-screen3.jpg 1x,
                ./img/gallery-img/image-tab-screen3-2@.jpg 2x
                  " />

                <source media="(min-width: 320px)" srcset="
                ./img/gallery-img/image-mob-screen3.jpg 1x,
                ./img/gallery-img/image-mob-screen3-2@.jpg 2x
                  " />
                <img class="item-img" src="./img/gallery-img/image-mob-screen3.jpg" alt="screen3" loading="lazy" />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">
            <div class="item-flex-container-bottom">
              <picture>
                <source media="(min-width: 768px)" srcset="
                ./img/gallery-img/image-tab-screen4.jpg 1x,
                ./img/gallery-img/image-tab-screen4-2@.jpg 2x
                  " />

                <source media="(min-width: 320px)" srcset="
                ./img/gallery-img/image-mob-screen4.jpg 1x,
                ./img/gallery-img/image-mob-screen4-2@.jpg 2x
                  " />
                <img class="item-img" src="./img/gallery-img/image-mob-screen4.jpg" alt="screen3" loading="lazy" />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>