<section class="game" id="game-description">
  <h2 class="game-title">Game Description</h2>
  <div class="game-container">
    <div class="game-item">
      <p class="game-text">
        Enter a world filled with magic, myths, and mighty creatures. In
        <span class="game-span"> Epic Fantasy</span>, a turn-based RPG, you must
        guide your hero through ancient lands, uncover hidden truths, and fight
        against powerful monsters and evil forces.
      </p>
      <picture class="game-desktop">
        <source
          srcset="
            /img/gameDescription/character-1-1.png 1x,
            /img/gameDescription/character-1-2.png 2x
          "
        />
        <img
          src="/img/gameDescription/character-1-1.png"
          alt="character 1"
          loading="lazy"
          width="516"
          height="437"
        />
      </picture>
      <picture class="game-mobile">
        <source
          srcset="
            /img/gameDescription/hero-mob-1-1.png 1x,
            /img/gameDescription/hero-mob-1-2.png 2x
          "
        />
        <img
          src="/img/gameDescription/hero-mob-1-1.png"
          alt="character 1"
          loading="lazy"
          width="280"
          height="293"
        />
      </picture>
    </div>
    <div class="game-item game-revers">
      <p class="game-text">
        As you journey through breathtaking landscapes, you will encounter
        mysterious beings, forge alliances, and discover legendary treasures.
        Engage in strategic combat, enhance your character’s skills, and unlock
        the secrets of the realm to become a true hero of the ages. The fate of
        the fantasy world is in your hands!
      </p>
      <picture class="game-desktop">
        <source
          srcset="
            /img/gameDescription/character-2-1.png 1x,
            /img/gameDescription/character-2-2.png 2x
          "
        />
        <img
          src="/img/gameDescription/character-2-1.png"
          alt="character 2"
          loading="lazy"
          width="516"
          height="384"
        />
      </picture>
      <picture class="game-mobile">
        <source
          srcset="
            /img/gameDescription/hero-mob-2-1.png 1x,
            /img/gameDescription/hero-mob-2-2.png 2x
          "
        />
        <img
          src="/img/gameDescription/hero-mob-2-1.png"
          alt="character 2"
          loading="lazy"
          width="280"
          height="345"
        />
      </picture>
    </div>
  </div>
</section>
