<section class="home" id="home">
  <div class="home-title-container">
    <div class="home-title-content">
      <h1 class="home-title">Epic Fantasy</h1>
      <p class="home-slogan">
        Embark on Your Legendary Adventure! Unravel ancient secrets and battle
        epic foes in a magical world full of mystery, power, and endless
        adventures.
      </p>
    </div>
    <div class="home-cta">
      <p class="home-cta-text">Join the Epic Adventure Now!</p>
      <a
        class="home-cta-link"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=net.cravemob.epicfantasy&hl=en&gl=us"
      >
        <picture>
          <source
            srcset="
              ./img/home/google-play-1-min.png 1x,
              ./img/home/google-play-2-min.png  2x
            "
          />
          <img
            src="./img/home/google-play-1-min.png"
            alt="Google play"
            loading="lazy"
            width="246"
            height="73"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
