<section class="uniqueness-section" id="our-uniqueness">
  <h2 class="uniqueness-title">Our Uniqueness</h2>
  <div class="uniqueness-container">
    <div class="uniqueness-content">

      <p class="uniqueness-text">
        What sets Epic Fantasy apart from other RPGs is its seamless blend of epic storytelling, tactical combat, and
        an immersive world that feels alive.
      </p>
      <p class="uniqueness-text">
        Unlike many fantasy games, Epic Fantasy offers a deep narrative that evolves with your choices, ensuring every
        journey is unique. The game isn’t just about fighting—it’s about discovering hidden lore, forging alliances, and
        unearthing powerful secrets.
      </p>
      <div class="mobile-only uniqueness-characters">
        <img srcset="
        ./img/ourUniqueness-img/photo-width-1.png 1x,
        ./img/ourUniqueness-img/photo-width-2@.png 2x" class="" alt="" />
      </div>
      <p class="uniqueness-text">
        Whether you’re battling monsters or solving ancient puzzles, every part of this game is designed to make you
        feel like the hero of your own legendary story.
      </p>
    </div>
    <div class="desktop-only uniqueness-characters">
      <img srcset="./img/ourUniqueness-img/photo-width-1.png 1x,
          ./img/ourUniqueness-img/photo-width-2@.png 2x" width="516" height="438" />
    </div>
  </div>
  </div>
  </div>
</section>