<section>
  <div>
    <h2>Our Uniqueness</h2>
    <div>
      <p>What sets Epic Fantasy apart from other RPGs is its seamless blend of epic storytelling, tactical combat, and
        an immersive world that feels alive.</p>
    </div>
    <div>
      <p>
        Unlike many fantasy games, Epic Fantasy offers a deep narrative that evolves with your choices, ensuring every
        journey is unique. The game isn’t just about fighting—it’s about discovering hidden lore, forging alliances, and
        unearthing powerful secrets.
      </p>
    </div>
    <div>
      <p>
        Whether you’re battling monsters or solving ancient puzzles, every part of this game is designed to make you
        feel like the hero of your own legendary story.
      </p>
    </div>
    <div class="background-our">
      <img srcset="
      ./img/ourUniqueness-img/girl.png 1x,
      ./img/ourUniqueness-img/girl-2@.png 2x" class="character knight" alt="girl" />
      <img srcset="
      ./img/ourUniqueness-img/boy.png 1x,
      ./img/ourUniqueness-img/boy-2@.png 2x" class="character demon" alt="boy" />

    </div>
  </div>
</section>